/* Estilos específicos para página index */
/* Estilo para las semanas */

/* Se ha modificado el header para que en el inicio sea más grande que las otras páginas */
header {
    padding: 35px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 28px;
    color: #000000;
}

.hero {
    display: flex;
    flex-direction: column;  /* Asegura que el contenido se apile verticalmente */
    justify-content: center; /* Centra verticalmente el contenedor interno */
    align-items: center;     /* Centra horizontalmente el contenedor interno */
    height: 100vh;           /* Ocupa toda la ventana */
}
  
  .hero-content {
    text-align: left;  /* El texto se alinea a la izquierda */
    max-width: 800px;  /* Ajusta el ancho máximo que desees */
    width: 100%;
    padding: 20px;     /* Opcional, para darle algo de espacio interno */
  }

.weeks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
}

.week {
    background-color: #fef247;
    border: 1px solid #D6CCC2;
    border-radius: 8px;
    padding: 1rem;
    flex: 0 0 48%;
    box-shadow: 0 4px 8px rgba(213, 189, 175, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

.week:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(213, 189, 175, 0.3);
}

.week h3 {
    color: #ad9d87;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.week ul {
    list-style-type: disc;
    margin: 0 0 0 1.5rem;
    text-align: left;
}

xml-declaration {
    font-family: "Courier New", monospace;
    font-size: 1em;
    color: grey;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .xml-title {
    color: white;
  }
  
  .xml-subtitle {
    color: white;
  }

/* Mejora de responsividad */
@media (max-width: 768px) {
    .weeks {
        flex-direction: column; /* Tarjetas apiladas en pantallas pequeñas */
        gap: 1rem;
    }
    
    .week {
        max-width: 100%;
        flex: 1 1 100%;
        margin-bottom: 1rem;
    }
    
    .content {
        width: 90%;
    }
}
